/* Add a background color to the page */
body {
  background-color: #c3e3eb;
}

/* Style the header */
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #36454f;
  align-items: center;
  color: white;
  display: flex;
  height: 75px;
  justify-content: space-between;
  z-index: 100;
  padding: 10px;
}

/* Style the footer */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #36454f;
  align-items: center;
  display: flex;
  height: 75px;
  justify-content: center;
  z-index: 100;
  padding: 10px;
}

/* Style the media links in the footer */
.media-link {
  height: 70px;
  float: right;
  margin-right: 20px;
}

/* Style the logo in the top left corner */
#logo {
  font-size: xx-large;
  padding: 20px;
}
/* Style the links on the header */
/* #links {
  color: white;
  font-size: x-large;
  padding: 20px;
  text-decoration: none;
} */

#links a{
  color: white;
  font-size: x-large;
  padding: 20px;
  text-decoration: none;
}

#links a:hover {
  background-color: lightblue;
}

/* Style the profile photo in home page*/
#profilePhoto {
  height: 400px;
  float: right;
  margin: 0px 10px 10px 10px;
}

/* Style the main section */
main {
  display: block;
  padding: 90px 25px 200px 25px;
  box-shadow: 0 0 24px -2px black;
  color: rgb(206, 212, 218);
  font-size: 30px;
  margin: 20px 350px 0px 350px;
  background-color: #061e45;
}

/* Style the description header in home page */
h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 20px 20px;
}

/* Stryle paragraph in home page */
p {
  font-size: 28px;
  margin: 20px 20px;
}

/* Style quote in home page */
#sectionTwo {
  font-family: "Satisfy", cursive;
  color: rgb(206, 212, 218);
  font-size: 28px;
  text-align: center;
  margin-top: 150px;
  padding-top: 100px;
}

/* Style header in about and portfolio pages */
#aboutHeader,
#portfolioHeader {
  font-weight: 300;
  font-size: 35px;
  margin: 20px 0px;
}

/* Style sections in about page */
.aboutSection {
  border-top: 1px solid #bbb;
}

/* Style images in about page */
.aboutSection img {
  height: 170px;
  float: right;
  margin-right: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
}

/* Style image in the second section in about and portfolio pages */
.aboutSection:nth-of-type(2n) img,
.portfolioSection:nth-of-type(2n) img {
  height: 170px;
  float: left;
  margin: 0px 24px 24px 0px;
}

/* Style section headings in about page */
.aboutSection h2 {
  font-size: 30px;
  margin: 20px 0px;
}

/* Style section paragraphs in about and portfolio pages */
.aboutSection p,
.portfolioSection p {
  font-size: 20px;
  margin: 20px 0px;
}

/* Style header in portfolio page */
#portfolioHeader {
  border-bottom: 1px solid #ccc;
  margin: 20px 0px;
}

/* Style the portfolio sections */
.portfolioSection {
  background: #fafafa;
  color: #222;
  /* box-shadow: 0 3px 6px -2px #ccc; */
  margin: 30px 50px;
  padding: 16px;
}

/* Style the h2 in portfolio page */
.portfolioSection h2 {
  font-size: 40px;
  margin: 0 0 32px;
  border-bottom: 2px solid #ccc;
}

/* Style images in portfolio page */
.portfolioSection img {
  height: 170px;
  float: right;
  margin-bottom: 24px;
  margin-left: 24px;
}

/* Contact page styling */
#form{
  display: grid;
  grid-template: 
  "one"
  "two"
  "three"
  "four";
  gap: 20px;
  align-items: center;
  justify-items: center;
  width: 100%;


/* flex */
  /* display: flex;
  height: 300px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  margin: 50px; */
}

#contactTitle{
  text-align: center;
}

input, textarea{
  width: 100%;
  font-size: 60%;
}

input{
  height:30px;
}


